.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #001337;
  padding-bottom: 54px;
}

@media (min-width: 768px) {
  .section {
    padding-bottom: 81px;
  }
}

@media (min-width: 1280px) {
  .section {
    padding-bottom: 101px;
  }
}


.section_style_light {
  background-color: #E0F0FF;
}

.section_style_accent {
  background-color: #009FAC;
}


.section_block_team {
  margin-bottom: -197px;
}

@media (min-width: 768px) {
  .section_block_team {
    margin-bottom: -280px;
  }
}

@media (min-width: 1280px) {
  .section_block_team {
    margin-bottom: -385px;
  }
}


.section_block_partners {
  padding-top: 197px;
}

@media (min-width: 768px) {
  .section_block_partners {
    padding-top: 280px;
  }
}

@media (min-width: 1280px) {
  .section_block_partners {
    padding-top: 385px;
  }
}

.section_block_contact {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .section_block_contact {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (min-width: 1280px) {
  .section_block_contact {
    padding-top: 80px;
    padding-bottom: 35px;
  }
}

.section_block_footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .section_block_contact {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (min-width: 1280px) {
  .section_block_contact {
    padding-top: 80px;
    padding-bottom: 35px;
  }
}





.section__content {
  width: calc(100% - 2 * 16px);
  max-width: 1110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .section__content {
    width: calc(100% - 2 * 39px);
  }
}


.section__title {
  margin: 0;
  max-width: 907px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.section__title_style_light {
  color: #000D26;
}


@media (min-width: 768px) {
  .section__title {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.1px;
  }
}

@media (min-width: 1280px) {
  .section__title {
    font-size: 36px;
    line-height: 68px;
  }
}


.section__subtitle {
  margin: 0;
  max-width: 907px;
  margin-bottom: 17px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .section__subtitle {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
  }
}

@media (min-width: 1280px) {
  .section__subtitle {
    font-size: 18px;
    line-height: 30px;
  }
}


.section__info {
  width: 100%;
  max-width: 1110px;
  position: relative;
}
